@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.services {
    width: 100%;
    align-content: center;
    margin: 0px auto;

    .container {
        text-align: center;
        max-width: 70%;
        margin: 0 auto;

        @include mobile {
            padding: 0;
            max-width: 95%;
        }

        .content {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 0.5rem;
            @include flex-center;
            gap: 1rem;

            .serviceCard {
                    width: 11rem;
                    height: 100%;
                    transition: all 0.3s ease;
                    border: none;
            
                    @include mobile {
                        width: 9rem;
                    }
            
                    &:hover {
                        transform: translateY(-5px);
                    }

                    .serviceCardContent {
                        text-align: left;
                        padding: 5px;
                        border-radius: 10px;
                        background-color: var(--color-surface);
                        border: none;

                        .image {
                            width: 100%;
                            height: 7rem;
                            border-radius: 10px 10px 0px 0px;
                            object-fit: cover;
                        }

                        p {
                            color: var(--color-secondary);
                            font-size: 0.8rem;
                            margin-bottom: 0;
                        }

                        .fle {
                            width: 50%;
                            display: inline-block;
                        }

                        .price {
                            color: var(--color-secondary);
                        }

                        Button {
                            margin-bottom: 5px;
                            font-size: 0.68rem;
                            background-color: var(--color-secondary);

                            &:hover {
                                background-color: var(--color-primary);
                                border: 1px solid var(--color-secondary);
                            }
                        }
                    }
                }
        }
    }
}