@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.services {
    width: 100%;
    align-content: center;
    margin: 0px auto;

    .container {
        text-align: center;
        max-width: 70%;
        margin: 0 auto;

        @include mobile {
            padding: 0;
            max-width: 95%;
        }

        .content {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 0.5rem;
            @include flex-center;
            gap: 1rem;

            .serviceCard {
                width: 11rem;
                transition: all 0.3s ease;
                border: none;
            
                @include mobile {
                    width: 9rem;
                    //height: 180px;
                }
            
                &:hover {
                    transform: translateY(-5px);
                }

                .serviceCardContent {
                    text-align: left;
                    padding: 5px;
                    border-radius: 10px;
                    background-color: var(--color-surface);
                    border: none;

                    @include mobile {
                        height: 160px;

                        .style {
                            font-size: 0.9rem;
                        }
                    }

                    .image {
                        width: 100%;
                        height: 7rem;
                        border-radius: 10px 10px 0px 0px;
                        object-fit: cover;

                        @include mobile {
                            height: 4rem;
                        }
                    }

                    .fle {
                        width: 50%;
                        display: inline-block;
                    }

                    .price {
                        color: var(--color-secondary);

                        @include mobile {
                            font-size: 0.9rem;
                        }
                    }

                    Button {
                        margin-bottom: 5px;
                        font-size: 0.68rem;
                        background-color: var(--color-secondary);

                        &:hover {
                            background-color: var(--color-primary);
                            border: 1px solid var(--color-secondary);
                        }
                    }
                }
            }
        }
    }
}