
.scroll {
    border: 2px solid yellow;
    width: 100%;
    height: calc(100vh - 232px);
    padding: 5px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    .panel {
        height: 100%;
        scroll-snap-align: start;
        align-content: center;
    }

}