@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.scroll {
    width: 100%;
    height: calc(100vh - 232px);
    padding: 5px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    .aboutOne {
        width: 22%;
        min-height: fit-content;
        padding: 3px;
        position: absolute;
        top: 44%;
        left: 3%;

        h4 {
            color: var(--color-tertiary);
        }

        p{
            margin-bottom: 0;
            color: var(--color-text-primary);
        }

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }

    .panel {
        margin: 0 auto;
        max-width: fit-content;
        height: 100%;
        scroll-snap-align: start;
        align-content: center;
    }

    .aboutTwo {
        width: 22%;
        height: 16%;
        padding: 3px;
        position: absolute;
        top: 44%;
        right: 3%;

        h4{
            color: var(--color-tertiary);
            text-align: end;
            margin-bottom: 5;
        }

        .circleContainer {
            display: flex;
            justify-content: flex-end;
            height:  48%;
            gap: 5;

            .circle {
                    width: 20%;
                    border: 2px solid var(--color-tertiary);
                    background-color: var(--color-text-primary);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--color-secondary);
                }
        }

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }

}
