@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.hero {
    border: 2px solid blue;
    width: 100%;
    align-content: center;
    margin: 0px auto;

    .container {
        border: 2px solid yellow;
        max-width: 96%;
        margin: 0 auto;

        .content {
            width: 100%;
            text-align: center;
            border: 2px solid red;
        }

    }
}