@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.formSection {
    max-width: fit-content;
    align-content: center;
    margin: 0px auto;

    .container {
        max-width: 96%;
        margin: 0 auto;

        .content {
            width: 100%;
            text-align: center;


            .formCard {
                width: 100%;
                height: 23rem;
                padding: 1rem;
                margin: 0 auto;
                border: none;
                background-color: var(--color-surface);
                display: flex;
                flex-direction: column;
                justify-content: center;

                @include mobile {
                    width: 90%;
                }

                .form {
                    
                    p {
                        color: var(--color-secondary);
                        font-family: $font-tertiary;
                    }
                    

                    .field {
                        width: 100%;
                        

                        input {
                            width: 40%;
                            border: 0.5px solid var(--color-primary);
                            border-radius: 10;
                            padding: 0.6rem;
                            margin: 0.5rem;
                            background-color: #F9F9F9;
                        }

                        label {
                            color: var(--color-secondary);
                            display: inline-block;
                            width: 40%;
                            border: 0.5px solid var(--color-primary);
                            border-radius: 10;
                            padding: 0.3rem;
                            margin: 0.5rem;
                            background-color: #F9F9F9;
                        }

                        select{
                            background-color: #F9F9F9;
                            border: none;
                        }

                        .date, .time {
                            color: var(--color-secondary);
                        }
                    }

                    Button {
                        margin: 15 auto 0 auto;
                    }

                }
            }
        }

    }
}