@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.cta {
    border: 2px solid blue;
    width: 100%;
    height: 60px;
    padding: 5px;
    align-content: center;
    margin: 0px auto;

    .container {
        max-width: 96%;
        margin: 0 auto;
        padding: 5px;

        .content {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 10;
        }

    }
}