@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.testimonial {
    border: 2px solid blue;
    width: 100%;
    align-content: center;
    margin: 0px auto;

    .container {
        border: 2px solid yellow;
        max-width: 96%;
        margin: 0 auto;

        .content {
            width: 100%;
            text-align: center;
            border: 2px solid red;

            .testimony {

                span {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background-color: black;
                    border-radius: 50%;
                }
            }

            .location {
                width: 34%;
                height: 120px;
                margin: 0 auto;
                border-radius: 5px 5px;
                align-content: center;
                border: 2px solid black;
            }

            .contact {
                p {
                    margin-top: 15;
                    line-height: 1.1;
                }
            }

            @include mobile {
                .testimony {
                    width: 80%;
                    margin: 0 auto;
                }

                .location {
                    width: 80%;
                }
            }
        }

    }
}