@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.hero {
    border: 2px solid blue;
    width: 100%;
    height: 90vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .container {
        border: 2px solid yellow;
        max-width: 96%;
        margin: 0 auto;
        text-align: center;

        .top {
            width: 100%;
            height: 10vh;
            border: 2px solid black;
            align-content: center;
        }

        .mid {
            width: 100%;
            height: 68vh;
            border: 2px solid red;
            align-content: center;
        }

        .bottom {
            width: 100%;
            height: 10vh;
            border: 2px solid green;
            align-content: center;
        }
    }
}