@use '../../styles/mixins.scss' as *;


.container {
    border: 2px solid yellow;
    width: 100%;
    height: calc(100vh - 232px);
    overflow-y: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .aboutOne {
        width: 22%;
        min-height: fit-content;
        padding: 3px;
        border: 10px dotted black;
        position: absolute;
        top: 44%;
        left: 3%;
    
        p {
            margin-bottom: 0;
        }
    
        @include mobile {
            display: none;
        }
    
        @include tablet {
            display: none;
        }
    }

    .gallery {
        width: 40%;
        height: 70%;
        border: 2px solid red;
        margin: 0 auto;
        padding: 3px;

        @include mobile {
            width: 98%;
        }

        .row {
            height: 50%;
            border: 2px solid blue;
            display: flex;
            justify-content: space-around;
            padding: 3px;
        }

        .galleryOne, .galleryTwo, .galleryThree, .galleryFour {
            width: 159px;
            border-radius: 49%;
            padding: 5px;
            border: 2px solid green;
        }
    }

    .aboutTwo {
        width: 22%;
        height: 16%;
        padding: 3px;
        border: 10px dotted black;
        position: absolute;
        top: 44%;
        right: 3%;
        
        p {
            text-align: end;
            margin-bottom: 0;
        }
        
        .circleContainer {
            display: flex;
            justify-content: flex-end;
            height: 55%;
            gap: 5;
            border: 2px solid red;
        
            .circle {
                width: 20%;
                border: 2px solid black;
                background-color: bisque;
                border-radius: 50%;
            }
        }
        
        @include mobile {
            display: none;
        }
        
        @include tablet {
            display: none;
        }
    }
}