@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

.header {
    border: 2px solid red;
    background-color: var(--color-background);
    width: 100%;
    height: 72px;
    position: static;
    align-content: center;

    .container {
        max-width: 96%;
        padding: 5px;
        @include flex-between;
        margin: 0 auto;

        .logo {
            font-size: 2.5rem;
            font-weight: 600;
            color: var(--color-primary);
            text-decoration: none;
        }

        .nav {
            width: fit-content;
            @include flex-between;
            padding: 3px;
            gap: 1.5rem;
            font-size: 1.1rem;
            text-decoration: none;

            @include mobile {
                gap: 0.3rem;
                .desktopNav {
                    display: none;
                }
            }
        }
    }
}