@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
    border: 2px solid red;
    background-color: --color-background;
    width: 100vw;
    min-height: 10vh;
    align-content: center;
    padding: 5px;
    position: absolute;
    top: 0;

    .container {
        max-width: 96%;
        margin: 0 auto;
        padding: 5px;
        @include flex-between;

        .logo {
            width: fit-content;
        }

        .nav {
            width: fit-content;
            @include flex-between;
            padding: 3px;
            gap: 1.5rem;

            p {
                margin-bottom: 0;
            }

            @include mobile {
                .desktopNav {
                    display: none;
                }
            }
        }
    }
}