@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.footer {
    width: 100%;
    height: 100px;
    padding: 5px;
    align-content: center;

    .container {
        max-width: 96%;
        margin: 0 auto;
        padding: 5px;

        .content {
            width: 100%;
            @include flex-between;
            @include mobile {
                flex-direction: column;
                justify-content: center;
                gap: 10;
                height: fit-content;
                .socialLink {
                    margin-left: 10;
                }
                .msg{
                    margin-left: 30;
                }
                .cta {
                    display: none;
                }
            }

            .socialIcons {
    
                .socialLink {
                    margin-right: 10;

                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }

            .msg {
                margin-right: 30;
                color: var(--color-text-primary);
                display: flex;

                .line {
                    width: 45px;
                    margin: auto 5;
                    border-bottom: 1px solid var(--color-text-primary);
                }
            }

            .cta {
                Button {
                    &:hover {
                        border: 0.5px solid var(--color-primary);
                    }
                }
            }
        }

    }
}